/* Navbar */

#navbar {
    height: 26%;
}

#navbar .logo {
    float: none;
    text-align: center;
}

.logo {
    padding: 0 0 17px 0;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Showcase (Home) */

#home-showcase {
    height: 85vh;
}

#home-showcase .home-showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 33.3%;
}

/* Home Info */

#home-info {
    height: 65vh;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    width: 100%;
    padding-bottom: 75px;
    padding-top: 25%;
}

.about-info, .history-info, .cemetery-info {
    padding: 0 30px;
    margin: 25px 0;
}

/* Features */

.box {
    float: none;
    width: 100%;
}

/* Gallery Info */

#gallery-info {
    height: 80vh;
    padding: 0;
}

#gallery-info .info-left, #gallery-info .info-right {
    float: none;
    width: 100%;
}

#gallery-info .info-left {
    font-size: 1.9vh;
}

.large-heading {
    text-align: center;
    padding: 0 11px;
}

#gallery-info .info-right {
    margin-top: 25px;
}

#gallery-info .info-right img {
    height: 33vh;
    width: 25vh;
    padding-bottom: 1.25vh;
}

/* Gallery */

#gallery .box {
    position: relative;
    right: 21px;
    bottom: 17px;
}

/* Fish Type */

.fish {
    
}

#fish-type .fish {
    margin-bottom: 20px;
}

#left-half, #right-half {
    width: 50%;
    padding: 0 20px;
}

#left-half {
    padding-right: 10px;
}

#right-half {
    padding-left: 10px;
}

#fish-type #left-half .fish {
    font-size: 1.345vh;
    /* padding-top: 10px;
    padding-left: 30px; */
}

/* #fish-type #left-half .fish p {
    padding-right: 5px;
} */

#fish-type #right-half .fish {
    font-size: 1.345vh;
    /* padding-top: 10px; */
    /* padding-left: 35px; */
}

/* #fish-type #right-half .fish p {
    padding-right: 25px;
}

#fish-type .fish p {
    padding-top: 50px;
} */

/* Fish Type (when clicked) */

.fishType h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.fishType #biggestFish h3 {
    padding-left: 75%;
}

.fishType img {
    margin-left: 45%;
    padding-bottom: 2vh;
}

.fishType #location h3 {
    padding-left: 35%;
}

.fishType #description h3 {
    padding-left: 0%;
}

/* History */
.church-history-list {
    width: 90%;      
    margin: 0 auto;  
    font-size: 0.75rem;
    padding-left: 0;
}

.history {
    height: 115vh !important;
}

.history-image {
    height: 45vh !important;
    width: 30vh !important;
    margin-top: 50px !important;
}

/* Cemetery */
 .cemetery {
    height: 115vh !important;
 }

 .cemetery-image {
    height: 45vh !important;
    width: 30vh !important;
    margin-top: 75px !important;
 }

/* Gallery */

.gallery-image {
    width: 350px;
}

/* Contact */
#contact-showcase {
    height: 75vh;
    background-attachment: initial;
}

.lead {
    padding: 0 20px;
    margin-bottom: 40px;;
}